{
    "branches": "release", "master",
    "ci": true, #Added CI enabled attribute
    "plugins": [
        "@semantic-release/commit-analyzer",{
       "preset": "angular",
       "releaseRules": [
          {"type": "refactor", "release": "major"}] }
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        [
            "@semantic-release/exec",
            ], 
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "https://github.com/mohdadilqa/qainfotech.git"
                    }
                ]
            }
        ]
    ]
}
